@import 'tailwindcss';

@layer base {
  body {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      sans-serif;
    @apply bg-white text-slate-900 antialiased;
  }

  main {
    min-height: 60vh;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #ff9653, #ffbc7d);
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff9653 #fff8ef;
}
